# Python
__pycache__/
*.py[cod]
.env
venv/

# Mac
.DS_Store

# Tox
.tox/

# Database
*.sqlite3

# Media
accesspoc/media/

# Coverage
.coverage
.coverage\.*
coverage.xml

# Compiled translation files
*.mo

# Collected static files
accesspoc/static

# Compiled CSS and map files
accesspoc/accesspoc/static/styles/main.css
accesspoc/accesspoc/static/styles/main.css.map
