# Python
__pycache__/
*.py[cod]
.env
venv/

# Mac
.DS_Store

# Tox
.tox/

# Database
*.sqlite3

# Media
/media/

# Coverage
.coverage
.coverage\.*
coverage.xml

# Compiled translation files
*.mo

# Collected static files
/static/

# Compiled CSS and map files
scope/static/styles/main.css
scope/static/styles/main.css.map

# Node modules
node_modules/
