sudo: false
language: python

install:
  - pip install tox codecov

script:
  - tox

matrix:
  fast_finish: true
  include:
    - python: "3.6"
      env: TOXENV=py36
    - python: "3.7"
      env: TOXENV=py37
    - python: "3.8"
      env: TOXENV=py38
    - python: "3.8"
      env: TOXENV=checkformigrations
    - python: "3.8"
      env: TOXENV=linting

after_success:
  - tox -e coverage
  - codecov
