/* Custom */
$cca-blue: #1d42ac;
$cca-gray: #343a40;
$cca-gray-light: #f2f2f2;

/* FontAwesome */
$fa-font-path: "../lib/@fortawesome/fontawesome-free/webfonts";

/* Bootstrap */
$font-family-sans-serif: "Roboto Regular", sans-serif;
$body-color: $cca-gray;
$theme-colors: (
  "primary": $cca-blue,
  "secondary": $cca-gray
);
$input-border-color: $cca-gray;
$navbar-light-color: $cca-gray;
$navbar-light-hover-color: $cca-blue;
$navbar-light-active-color: $cca-blue;
$card-cap-bg: $cca-gray-light;
$breadcrumb-bg: $cca-gray-light;
$custom-file-button-bg: $cca-gray-light;
$custom-file-text: (
  en: "Browse",
  fr: "Parcourir"
);
