{% extends 'base.html' %}

{% load custom_tags %}
{% load i18n %}

{% block title %}
{% blocktrans %}Collection {{ collection }}{% endblocktrans %}
{% endblock %}

{% block content %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Collections" %}</a></li>
    <li class="breadcrumb-item active">{{ collection }}</li>
  </ol>
  <h2>{% trans "Collection description" %}</h2>
  <br>
  <div>
    {% include 'includes/dc.html' with dc=collection.dc %}
    <p><strong>{% trans "Finding aid" %}:</strong> <a href="{{ collection.link }}">{{ collection.link }}</a></p>
    {% if user.is_editor %}
      <a href="{% url 'edit_collection' collection.pk %}"><button class="btn btn-default">{% trans "Edit" %}</button></a>
    {% endif %}
    {% if user.is_superuser %}
      <a href="{% url 'delete_collection' collection.pk %}"><button class="btn btn-danger">{% trans "Delete" %}</button></a>
    {% endif %}
  </div>
  <br>
  <h2>{% trans "Folders in this collection" %}</h2>
  {% trans "Search" as placeholder %}
  {% include 'includes/table_form.html' with placeholder=placeholder %}
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
      {% include 'includes/table_header.html' with headers=table_headers %}
      {% if not dips %}
        <tr>
          <td colspan="5" class="text-center">{% trans "No matching records found" %}</td>
        </tr>
      {% endif %}
      {% for dip in dips %}
        <tr>
          <td>{{ dip.dc.identifier }}</td>
          <td>{{ dip.dc.title|default:'' }}</td>
          <td>{{ dip.dc.date|default:'' }}</td>
          <td>{{ dip.dc.description|default:''|safe }}</td>
          <td>
            {% if 'import_status' not in dip or dip.import_status == statuses.SUCCESS %}
              <a href="{% url 'dip' dip.meta.id %}"><button class="btn btn-sm btn-primary">{% trans "See more" %}</button></a>
            {% elif dip.import_status == statuses.FAILURE %}
              <a href="{% url 'dip' dip.meta.id %}"><button class="btn btn-sm btn-danger">{% trans "See error" %}</button></a>
            {% else %}
              <span aria-hidden="true"><i class="fas fa-circle-notch fa-spin" title="{% trans "Import in progress" %}"></i></span>
              <span class="sr-only">{% trans "Import in progress" %}</span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {% include 'includes/table_pager.html' %}
{% endblock %}
