{% extends 'base.html' %}{% load custom_tags %}

{% block title %}Collection {{ collection.identifier }}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Collections</a></li>
  <li class="breadcrumb-item active">{{ collection.identifier }}</li>
{% endblock %}

{% block content %}
  <h2>Collection description</h2>
  <br>
  <p><strong>Identifier:</strong> {{ collection.identifier }}</p>
  <p><strong>Title:</strong> {{ collection.title }}</p>
  <p><strong>Date:</strong> {{ collection.date }}</p>
  <p><strong>Creator:</strong> {{ collection.creator }}</p>
  <p><strong>Format:</strong> {{ collection.dcformat|safe }}</p>
  <p><strong>Description:</strong> {{ collection.description }}</p>
  <p><strong>Finding aid:</strong> <a href="{{ collection.link }}">{{ collection.link }}</a></p>
  {% if user.is_superuser %}
    <a href="{% url 'edit_collection' collection.identifier %}"><button class="btn btn-default">Edit</button></a>
    <a href="{% url 'delete_collection' collection.identifier %}"><button class="btn btn-danger">Delete</button></a>
    <br><br>
  {% elif user|has_group:"Edit Collections and Folders" %}
    <a href="{% url 'edit_collection' collection.identifier %}"><button class="btn btn-default">Edit</button></a>
    <br><br>
  {% endif %}
  <h2>Folders in this collection</h2>
  <br>
  <table class="table table-striped table-bordered table-condensed sortable" id="fancyTable">
    <tr>
      <td><strong>Identifier</strong></td>
      <td><strong>Title</strong></td>
      <td><strong>Date</strong></td>
      <td><strong>Description</strong></td>
      <td><strong>Details</strong></td>
    </tr>
  {% for dip in collection.dips.all %}
    <tr>
      <td>{{ dip.identifier }}</td>
      <td>{{ dip.title }}</td>
      <td>{{ dip.date }}</td>
      <td>{{ dip.description|safe }}</td>
      <td><a href="{% url 'dip' dip.identifier %}"><button class="btn btn-primary">View</button></a></td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}