{% extends 'base.html' %}{% load custom_tags %}

{% block title %}Collection {{ collection }}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Collections</a></li>
  <li class="breadcrumb-item active">{{ collection }}</li>
{% endblock %}

{% block content %}
  <h2>Collection description</h2>
  <br>
  <div>
    {% include 'includes/dc.html' with dc=collection.dc %}
    <p><strong>Finding aid:</strong> <a href="{{ collection.link }}">{{ collection.link }}</a></p>
    {% if user.is_editor %}
      <a href="{% url 'edit_collection' collection.pk %}"><button class="btn btn-default">Edit</button></a>
    {% endif %}
    {% if user.is_superuser %}
      <a href="{% url 'delete_collection' collection.pk %}"><button class="btn btn-danger">Delete</button></a>
    {% endif %}
  </div>
  <br>
  <h2>Folders in this collection</h2>
  {% include 'includes/table_form.html' %}
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
      {% include 'includes/table_header.html' with headers=table_headers %}
      {% if not dips %}
        <tr>
          <td colspan="5" class="text-center">No matching records found</td>
        </tr>
      {% endif %}
      {% for dip in dips %}
        <tr>
          <td>{{ dip.dc.identifier }}</td>
          <td>{{ dip.dc.title|default:'' }}</td>
          <td>{{ dip.dc.date|default:'' }}</td>
          <td>{{ dip.dc.description|default:''|safe }}</td>
          <td><a href="{% url 'dip' dip.meta.id %}"><button class="btn btn-sm btn-primary">View</button></a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {% include 'includes/table_pager.html' %}
{% endblock %}
