{% extends 'base.html' %}

{% load custom_tags %}
{% load i18n %}

{% block title %}
{% blocktrans %}Digital file {{ digitalfile }}{% endblocktrans %}
{% endblock %}

{% block content %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Collections" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'collection' digitalfile.dip.collection.pk %}">{{ digitalfile.dip.collection }}</a></li>
    <li class="breadcrumb-item">{% trans "Folder" %}</li>
    <li class="breadcrumb-item"><a href="{% url 'dip' digitalfile.dip.pk %}">{{ digitalfile.dip }}</a></li>
    <li class="breadcrumb-item">{% trans "Digital file" %}</li>
    <li class="breadcrumb-item active">{{ digitalfile.uuid }}</li>
  </ol>
  <h2>{% trans "Digital file description" %}</h2>
  <br>
  <p><strong>{% trans "UUID" %}:</strong> {{ digitalfile.uuid }}</p>
  <p><strong>{% trans "Filepath" %}:</strong> {{ digitalfile.filepath }}</p>
  <p><strong>{% trans "File format" %}:</strong> {{ digitalfile.fileformat }}</p>
  <p><strong>{% trans "File format version" %}:</strong> {{ digitalfile.formatversion }}</p>
  <p><strong>{% trans "Size (bytes)" %}:</strong> {{ digitalfile.size_bytes }}</p>
  <p><strong>{% trans "Size (human readable)" %}:</strong> {{ digitalfile.size_human }}</p>
  <p><strong>{% trans "Date modified" %}:</strong> {{ digitalfile.datemodified }}</p>
  <p><strong>{% trans "PRONOM ID" %}:</strong> <a href="http://nationalarchives.gov.uk/PRONOM/{{digitalfile.puid}}">{{ digitalfile.puid }}</a></p>
  <p><strong>{% trans "METS amdSec" %}:</strong> {{ digitalfile.amdsec }}</p>
  <p><strong>{% blocktrans %}Checksum ({{ digitalfile.hashtype }}){% endblocktrans %}:</strong> {{ digitalfile.hashvalue }}</p>
  <br>
  <h2>{% trans "Preservation metadata" %}</h2>
  <p><em>{% trans "Event log from our digital preservation repository for this file." %}</em></p>
  {% for event in digitalfile.premis_events.all|sort_by:'datetime' %}
    <br>
    <h4>{% blocktrans %}Event: {{ event.uuid }}{% endblocktrans %}</h4>
    <p><strong>{% trans "Event type" %}:</strong> {{ event.eventtype }}</p>
    <p><strong>{% trans "Datetime" %}:</strong> {{ event.datetime }}</p>
    <p><strong>{% trans "Event detail" %}:</strong> {{ event.detail }}</p>
    <p><strong>{% trans "Event outcome" %}:</strong> {{ event.outcome }}</p>
    <p><strong>{% trans "Event detail note" %}:</strong> {{ event.detailnote }}</p>
  {% endfor %}
{% endblock %}
