{% extends 'base.html' %}{% load custom_tags %}

{% block title %}Folder {{ dip.identifier }}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Collections</a></li>
  <li class="breadcrumb-item"><a href="{% url 'collection' dip.ispartof %}">{{ dip.ispartof }}</a></li>
  <li class="breadcrumb-item">Folder</li>
  <li class="breadcrumb-item active">{{ dip.identifier }}</li>
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h2>Folder description</h2>
          <br>
          <p><strong>Identifier:</strong> {{ dip.identifier }}</p>
          <p><strong>Title:</strong> {{ dip.title }}</p>
          <p><strong>Date:</strong> {{ dip.date }}</p>
          <p><strong>Creator:</strong> {{ dip.creator }}</p>
          <p><strong>Format:</strong> {{ dip.dcformat|safe }}</p>
          <p><strong>Description:</strong> {{ dip.description|safe }}</p>
          {% if user.is_superuser %}
            <a href="{% url 'edit_dip' dip.identifier %}"><button class="btn btn-default">Edit</button></a>
            <a href="{% url 'delete_dip' dip.identifier %}"><button class="btn btn-danger">Delete</button></a>
            <br><br>
          {% elif user|has_group:"Edit Collections and DIPs" %}
            <a href="{% url 'edit_dip' dip.identifier %}"><button class="btn btn-default">Edit</button></a>
            <br><br>
          {% endif %}
        </div>
        <div class="col-md-5">
          <h2>Attachments:</h2>
          <div class="container dip">
            <p><strong>Digital files:</strong> {{ dip.objectszip.name }}</p>
            <a href="{{ dip.objectszip.url }}"><button class="btn btn-primary">Download zip file</button></a>
          </div>
          <div class="container dip">
            <p><strong>METS file:</strong> {{ dip.metsfile.name }}</p>
            <a href="{{ dip.metsfile.url }}"><button class="btn btn-primary">View METS file</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <br>
      <h2>Digital files in this Folder</h2>
      <br>
      <table class="table table-striped table-bordered table-condensed sortable" id="fancyTable">
        <tr>
          <td><strong>Filepath</strong></td>
          <td><strong>Format</strong></td>
          <td><strong>Size (bytes)</strong></td>
          <td><strong>Last modified</strong></td>
          <td><strong>Details</strong></td>
        </tr>
      {% for digitalfile in dip.digital_files.all|sort_by:'filepath' %}
        <tr>
          <td>{{ digitalfile.filepath }}</td>
          <td>{{ digitalfile.fileformat }}</td>
          <td>{{ digitalfile.size_bytes }}</td>
          <td>{{ digitalfile.datemodified }}</td>
          <td><a href="{% url 'digital_file' digitalfile.uuid %}"><button class="btn btn-primary">Details</button></a></td>
        </tr>
      {% endfor %}
      </table>
    </div>
{% endblock %}