{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Edit Collection{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Collections</a></li>
  <li class="breadcrumb-item"><a href="{% url 'collection' collection.pk %}">{{ collection }}</a></li>
  <li class="breadcrumb-item active">Edit</li>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' with form=dc_form %}
    {% include 'includes/form.html' with form=collection_form %}
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
{% endblock %}
