{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Edit Folder{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Collections</a></li>
  <li class="breadcrumb-item"><a href="{% url 'collection' dip.ispartof %}">{{ dip.ispartof }}</a></li>
  <li class="breadcrumb-item">Folder</li>
  <li class="breadcrumb-item"><a href="{% url 'dip' dip.identifier %}">{{ dip.identifier }}</a></li>
  <li class="breadcrumb-item active">Edit</li>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
{% endblock %}