{% extends 'base.html' %}

{% load custom_tags %}
{% load i18n %}

{% block title %}{% trans "Frequently Asked Questions" %}{% endblock %}

{% block content %}
  <h2>{% trans "Frequently asked questions" %}</h2>
  <br>
  <h4>{% trans "How are digital files organized?" %}</h4>
  <p>{% trans "There are three types of records in the DIP Access Interface:" %}</p>
  <ul>
  	<li><strong>{% trans "Collections:" %}</strong> {% trans "These are the highest level of organization, and typically correspond to an archival fonds or collection." %}</li>
  	<li><strong>{% trans "Folders:" %}</strong> {% trans "Folders are within Collections, and correspond to a \"package\" of digital files as they are stored in the CCA's digital preservation repository. Folders typically have a 1-to-1 relationship with folder-level archival descriptions in CCA's finding aids." %}</li>
  	<li><strong>{% trans "Digital files:" %}</strong> {% trans "Individual digital files live within Folders, and have detailed pages containing additional information that are accessible from the Folder and Search pages." %}</li>
  </ul>
<h4>{% trans "What are the different ways to search?" %}</h4>
  <strong>{% trans "For Collections:" %}</strong> {% trans "From the Collections page, you can search for a particular collection from the search bar. Click “See more” to see the folders within the collection." %}
<strong>{% trans "Within Collections:" %}</strong> {% trans "Once you’ve clicked on a collections page, you can search for particular folders based on their title. Click “see more” to see the digital files within that folder." %}
<strong>{% trans "Within Folders:" %}</strong> {% trans "Once you’ve selected a folder, you can search for digital files within that folder. You can see additional metadata about the file by clicking "See more."" %}
<strong>{% trans "Across Collections:" %}</strong> {% trans "From the "Search all digital files" bar on the homepage or at the top of the screen, you can search for digital files across all collections. You can then view the parent folder (i.e. the folder that contains that file) or see additional metadata about the file by clicking "See more."" %}
  <h4>{% trans "How do I get access to the actual files?" %}</h4>
  <p>{% trans "Files can be downloaded as a package zip file (a "DIP") from a Folder page. Downloading files as a package ensures that any relationships between files (e.g., an external reference in a CAD drawing or a linked image from an HTML file) and the archival context of files remain intact. Files cannot be downloaded individually." %}</p>
  <p>{% trans "From the Folder page, click "Download zip file". After the file finishes downloading, you can unzip the DIP and explore all of the files within. The package will contain the original files with filenames and last modified dates restored to their original values, as well as a METS file and a submissionDocumentation folder." %}</p>
  <h4>{% trans "What is a METS file?" %}</h4>
  <p>{% trans "The METS file is an XML file generated by CCA's digital preservation software, Archivematica. It follows the Metadata Encoding & Transmission Standard schema and contains detailed information about every digital file included in the Folder, including identification and characterization information, extracted metadata, and a log of all events that happened to the file while being processed by Archivematica." %}</p>
  <p>{% trans "We provide the METS file in case it's helpful, but if you're not familiar with the format don't worry. Selected information from the METS file is also included in the search interface and Digital file detail pages, extracted from the METS file automatically and presented for you in a more user-friendly manner." %}</p>
  <h4>{% trans "What is the submissionDocumentation folder?" %}</h4>
  <p>{% trans "The submissionDocumentation folder contains contextual documentation related to the files in a particular DIP. This documentation can be generated by the software used at CCA, as well as by our archivists during processing. The contents of this folder will vary." %}</p>
  <p>{% trans "One common file to find here is a DFXML (<a href=\"https://forensicswiki.org/wiki/Category:Digital_Forensics_XML\">Digital Forensics XML</a>) file, which records the file system information for files on a floppy disk, hard drive, or other piece of digital storage media. DFXML files can be used to compare the current file system metadata for files (filenames, modified and created dates, and so on) against their values as they arrived at CCA on a particular piece of storage media." %}</p>
  <h4>{% trans "Some of the files I want to use are in a file format that is unidentified or won't open. How can I see what is in the files?" %}</h4>
  <p>{% trans "The dedicated CAD workstation in the CCA Study Room contains a wide array of software and can open many file formats, but not all. If you have trouble opening a file, please contact Collection Reference and ask to speak with the Digital Archivist. In some cases, the Digital Archivist may be able to update the file to a newer format that is usable on the CAD workstation or to set up a virtual machine or emulator using original software to provide access to obsolete files." %}</p>
  <h4>{% trans "Who created the digital archives access interface?" %}</h4>
  <p>{% trans "The Digital Archives Access Interface was produced by the Canadian Centre for Architecture (CCA) and developed by Artefactual Systems, based on an project initially conceived by Tim Walsh, digital archivist at CCA from June 2015 to May 2018." %}</p>
  <p>{% trans "The Digital Archives Access Interface is a project financed within the framework of the Montreal Cultural Development grant awarded by the City of Montreal and the Quebec Department of Culture and Communications." %}</p>
{% endblock %}
