{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Collections</li>
{% endblock %}

{% block content %}
<div class="container">
  {% for collection in collections %}
    <div class="container card card-body p-3 mb-2 mt-2 collection" data-department="{{ collection.ispartof }}">
      <h3>{{ collection.identifier }}: {{ collection.title }}</h3>
      <p><strong>Date:</strong> {{ collection.date }}</p>
      <p><strong>Format:</strong> {{ collection.dcformat|safe }}</p>
      <p><strong>Description:</strong> {{ collection.description }}</p>
      <a href="{% url 'collection' collection.identifier %}"><button class="btn btn-primary">Go to this collection</button></a>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}