{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Collections</li>
{% endblock %}

{% block content %}
  <h2>Collections</h2>
  <p><em>Select an archive/collection with available born-digital content from the list below, or search across digital files in all available collections by selecting "Search" from the menu bar above.</em></p>
  {% include 'includes/table_form.html' %}
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
      {% include 'includes/table_header.html' with headers=table_headers %}
      {% if not collections %}
        <tr>
          <td colspan="5" class="text-center">No matching records found</td>
        </tr>
      {% endif %}
      {% for collection in collections %}
        <tr>
          <td>{{ collection.dc.identifier }}</td>
          <td>{{ collection.dc.title|default:'' }}</td>
          <td>{{ collection.dc.date|default:'' }}</td>
          <td>{{ collection.dc.description|default:''|safe }}</td>
          <td><a href="{% url 'collection' collection.meta.id %}"><button class="btn btn-sm btn-primary">View</button></a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {% include 'includes/table_pager.html' %}
{% endblock %}
