{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "New User" %}{% endblock %}

{% block content %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'users' %}">{% trans "Users" %}</a></li>
    <li class="breadcrumb-item active">{% trans "New User" %}</li>
  </ol>
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">{% trans "Submit" %}</button>
  </form>
{% endblock %}
