.headerlink a {
	color: #fff !important;
}
.main {
	padding: 0 50px 50px 50px;
}

/* Data tables */

th > span {
	padding-right: 10px;
}

th > a {
	float: right;
	color: #bbb !important; /* Avoids hover and other effects */
}

th > a.active {
	color: #212529 !important; /* Avoids hover and other effects */
}

.table-form .input-group {
	float: right;
	max-width: 400px;
	margin-bottom: 20px;
}

.table-pagination {
	padding-top: 10px;
}

.table-pagination > span {
	line-height: 2.5;
	padding-right: 10px;
}

.table-pagination nav {
	display: inline-block;
	float: right;
}
