/* Custom */
$cca-blue: #1D42AC;
$cca-gray: #343A40;
$cca-gray-light: #E3E3E3;

/* FontAwesome */
$fa-font-path: "../vendor/fontawesome/webfonts";

/* Bootstrap */
$font-family-sans-serif: "Roboto Regular", sans-serif;
$body-color: $cca-gray;
$theme-colors: (
  "primary": $cca-blue,
  "secondary": $cca-gray,
  "cca-gray-light": $cca-gray-light
);
$input-border-color: $cca-gray;
$navbar-light-color: $cca-gray;
$navbar-light-hover-color: $cca-blue;
$navbar-light-active-color: $cca-blue;
$card-cap-bg: $cca-gray-light;
$breadcrumb-bg: $cca-gray-light;
$custom-file-button-bg: $cca-gray-light;
$custom-file-text: (
  en: "Browse",
  fr: "Parcourir"
);
