<div class="input-group-prepend">
  <button class="btn btn-outline-cca dropdown-toggle{% if not agg.buckets %} disabled{% endif %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {% if selected|length > 0 %}
      <strong>{{ label }}</strong>
    {% else %}
      {{ label }}
    {% endif %}
  </button>
  <div class="dropdown-menu aggs-dropdown">
    <h6 class="dropdown-header">
      <div class="right-inner-icon-input-wrapper">
        <input type="text" class="form-control form-control-sm aggs-query-input" id="{{ param }}_query">
        <label for="{{ param }}_query"><i class="fas fa-search fa-sm text-dark"></i></label>
      </div>
    </h6>
    <div class="dropdown-divider"></div>
    {% for bucket in agg.buckets %}
      <li class="dropdown-item">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" {% if bucket.key in selected %}checked {% endif %}class="custom-control-input" name="{{ param }}" value="{{ bucket.key }}" id="{{ param }}_{{ forloop.counter0 }}">
          <label class="custom-control-label" for="{{ param }}_{{ forloop.counter0 }}">{{ bucket.key }}</label>
        </div>
      </li>
    {% endfor %}
  </div>
</div>
