{% if dc %}
  <p><strong>Identifier:</strong> {{ dc.identifier }}</p>
  <p><strong>Title:</strong> {{ dc.title }}</p>
  <p><strong>Date:</strong> {{ dc.date }}</p>
  <p><strong>Creator:</strong> {{ dc.creator }}</p>
  <p><strong>Format:</strong> {{ dc.format|safe }}</p>
  <p><strong>Description:</strong> {{ dc.description|safe }}</p>
  <p><strong>Subject:</strong> {{ dc.subject }}</p>
  <p><strong>Publisher:</strong> {{ dc.publisher }}</p>
  <p><strong>Contributor:</strong> {{ dc.contributor }}</p>
  <p><strong>Type:</strong> {{ dc.type }}</p>
  <p><strong>Source:</strong> {{ dc.source }}</p>
  <p><strong>Language:</strong> {{ dc.language }}</p>
  <p><strong>Coverage:</strong> {{ dc.coverage }}</p>
  <p><strong>Rights:</strong> {{ dc.rights }}</p>
{% endif %}
