select#id_enabled_optional_dc_fields {
  height: 315px;
}

.digital-file-filters {
  max-width: 900px;
}

.aggs-dropdown {
  max-height: 300px;
  overflow-y: auto;

  .custom-control-label {
    width: 100%;
  }
}

.right-inner-icon-input-wrapper {
  position: relative;

  input {
    padding-right: 25px;
  }

  // Using label to focus input on click
  label {
    position: absolute;
    right: 8px;
    top: calc(50% - 0.5em);
    line-height: 1;
    cursor: pointer;
  }
}

.datepicker {
  padding: 5px;

  // Force rules to avoid adding several selectors
  table tr td.active,
  table tr td span.active {
    background-color: $cca-blue !important;
    border-color: $cca-blue !important;

    &:hover, &:focus {
      background-color: darken($cca-blue, 7.5%) !important;
      border-color: darken($cca-blue, 7.5%) !important;
    }
  }
}

@include media-breakpoint-down(sm) {
  .digital-file-filters {
    .input-group > .form-control:not(:first-child) {
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem;
    }

    .input-group-prepend {
      display: block;
      width: 100%;
      margin-bottom: 10px;

      .btn-outline-cca {
        width: 100%;
        border-right: 1px solid $cca-gray;
        // Force rule to avoid adding several selectors
        border-radius: .25rem !important;
      }

      .dropdown-menu {
        // Force rules to overwrite element styles
        position: static !important;
        transform: none !important;
        width: 100%;
        margin: 10px 0;
      }
    }
  }
}
