{% load static %}
{% load i18n %}
{% load compress %}
{% get_current_language as lang_code %}
<!DOCTYPE html>
<html lang="{{ lang_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% compress css %}
      <link rel="stylesheet" href="{% static 'lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.min.css' %}" />
      <link rel="stylesheet" type="text/x-scss" href="{% static 'styles/main.scss' %}">
    {% endcompress %}
  </head>
  <body>
    {% include 'includes/header.html' %}
    <div class="main m-4">
      {% include 'includes/messages.html' %}
      {% block content %}
      {% endblock %}
    </div>
    {% compress js %}
      <script type="text/javascript" src="{% static 'lib/jquery/dist/jquery.slim.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'lib/popper.js/dist/umd/popper.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.fr.min.js' %}" charset="UTF-8"></script>
      <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    {% endcompress %}
  </body>
</html>
