{% load static %}
{% load i18n %}
{% get_current_language as lang_code %}
<!DOCTYPE html>
<html lang="{{ lang_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
  </head>
  <body>
    {% include 'includes/header.html' %}
    <div class="main m-4">
      {% include 'includes/messages.html' %}
      {% block content %}
      {% endblock %}
    </div>
    <script type="text/javascript" src="{% static 'vendor/jquery/jquery-3.3.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
  </body>
</html>
