{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}
  <h2>{% trans "Browse collections" %}</h2>
  <p><em>{% blocktrans %}To access born digital content within an archive/collection, select "See more" from the list below. To search digital files across all collections, select "Search" from the menu above.{% endblocktrans %}</em></p>
  <span class="d-inline-block mt-3 mb-2 mr-2">
    {% blocktrans trimmed count counter=page.paginator.count %}
      <strong>{{ counter }}</strong> collection
    {% plural %}
      <strong>{{ counter }}</strong> collections
    {% endblocktrans %}
  </span>
  {% trans "Search collection titles" as placeholder %}
  {% include 'includes/table_form.html' with placeholder=placeholder %}
  <div class="table-responsive">
    <table class="table table-striped table-condensed mb-0 border">
      {% include 'includes/table_header.html' with headers=table_headers %}
      {% if not collections %}
        <tr>
          <td colspan="5" class="text-center">{% trans "No matching records found" %}</td>
        </tr>
      {% endif %}
      {% for collection in collections %}
        <tr>
          <td>{{ collection.dc.identifier }}</td>
          <td>{{ collection.dc.title|default:'' }}</td>
          <td>{{ collection.dc.date|default:'' }}</td>
          <td>{{ collection.dc.description|default:''|safe }}</td>
          <td class="text-nowrap"><a href="{% url 'collection' collection.meta.id %}" class="btn btn-sm btn-primary">{% trans "See more" %}</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {% include 'includes/table_pager.html' %}
{% endblock %}
