{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Static Content" %}{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {{ formset.management_form }}
    {% csrf_token %}
    <div class="accordion" id="content-accordion">
      {% for form in formset %}
        <div class="card">
          <div class="card-header" id="heading-{{ forloop.counter0 }}">
            <h5 class="mb-0">
              <button class="btn btn-link pl-0 collapsed" type="button" data-toggle="collapse" data-target="#content-{{ forloop.counter0 }}" aria-expanded="false" aria-controls="content-{{ forloop.counter0 }}">
                {{ form.instance.get_label }}
              </button>
            </h5>
          </div>
          <div class="collapse" id="content-{{ forloop.counter0 }}" aria-labelledby="heading-{{ forloop.counter0 }}" data-parent="#content-accordion">
            <div class="card-body">
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </form>
{% endblock %}
