{% extends 'base.html' %}

{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans "Delete Folder" %}{% endblock %}

{% block content %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'collections' %}">{% trans "Collections" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'collection' dip.collection.pk %}">{{ dip.collection }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dip' dip.pk %}">{{ dip }}</a></li>
    <li class="breadcrumb-item active">{% trans "Delete" %}</li>
  </ol>
  <h3>{% trans "Confirm deletion" %}</h3>
  <p>{% trans "Note: Deleting this DIP will also delete all child records (digital files and PREMIS events)." %}</p>
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
  </form>
{% endblock %}
