{% extends 'base.html' %}

{% load custom_tags %}
{% load i18n %}

{% block title %}
{% blocktrans %}Folder {{ dip }}{% endblocktrans %}
{% endblock %}

{% block content %}
  <ol class="breadcrumb">
    {% trans "Untitled" as untitled %}
    <li class="breadcrumb-item"><a href="{% url 'collections' %}">{% trans "Collections" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'collection' dip.collection.pk %}">{{ dip.collection.dc.title|default:untitled }}</a></li>
    <li class="breadcrumb-item active">{{ dip.dc.title|default:untitled }}</li>
  </ol>
  <div class="row">
    <div class="col-md-7">
      <h2 class="mb-3">{% trans "Folder description" %}</h2>
      {% include 'includes/dc.html' with dc=dip.dc %}
      {% if user.is_editor %}
        <a href="{% url 'edit_dip' dip.pk %}" class="btn btn-primary mb-3">{% trans "Edit" %}</a>
      {% endif %}
      {% if user.is_superuser %}
        <a href="{% url 'delete_dip' dip.pk %}" class="btn btn-danger mb-3">{% trans "Delete" %}</a>
      {% endif %}
    </div>
    <div class="col-md-5 my-3 my-md-0">
      <h2 class="mb-3">{% trans "Attachments" %}</h2>
      <div class="card">
        <div class="card-body p-3">
          <p><strong>{% trans "Digital files" %}:</strong> {{ dip.objectszip.name }}</p>
          <p>{% trans "By clicking on the button below you'll download all the digital files included in this folder." %}</p>
          <a href="{% url 'download_dip' dip.pk %}" class="btn btn-primary">{% trans "Download zip file" %}</a>
        </div>
      </div>
    </div>
  </div>
  <h2 class="mt-3">{% trans "Digital files in this folder" %}</h2>
  {% include 'includes/digital_file_filters.html' %}
  <span class="d-inline-block mt-3 mb-1 mr-1">
    {% blocktrans trimmed count counter=page.paginator.count %}
      <strong>{{ counter }}</strong> digital file
    {% plural %}
      <strong>{{ counter }}</strong> digital files
    {% endblocktrans %}
  </span>
  {% include 'includes/digital_file_filter_tags.html' %}
  <div class="table-responsive pt-2">
    <table class="table table-striped table-condensed mb-0 border">
      {% include 'includes/table_header.html' with headers=table_headers %}
      {% if not digital_files %}
        <tr>
          <td colspan="5" class="text-center">{% trans "No matching records found" %}</td>
        </tr>
      {% endif %}
      {% for digital_file in digital_files %}
        <tr>
          <td>{{ digital_file.filepath }}</td>
          <td>{{ digital_file.fileformat }}</td>
          <td>{{ digital_file.size_bytes|filesizeformat }}</td>
          <td>{{ digital_file.datemodified|default:'' }}</td>
          <td class="text-nowrap">
            {% if 'import_status' not in digital_file.dip or digital_file.dip.import_status == statuses.SUCCESS %}
              <a href="{% url 'digital_file' digital_file.meta.id %}" class="btn btn-sm btn-primary">{% trans "See more" %}</a>
            {% else %}
              <a href="{% url 'digital_file' digital_file.meta.id %}" class="btn btn-sm btn-danger">{% trans "See error" %}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {% include 'includes/table_pager.html' %}
{% endblock %}
