{% extends 'base.html' %}

{% load i18n %}

{% block title %}
{% trans "User" %} - {{ instance.username }}
{% endblock %}

{% block content %}
  {% if user.is_manager %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'users' %}">{% trans "Users" %}</a></li>
      <li class="breadcrumb-item active">{{ instance.username }}</li>
    </ol>
  {% endif %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
  </form>
{% endblock %}
