{% extends 'base.html' %}

{% load custom_tags %}
{% load i18n %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block content %}
  <h2>{% trans "Search all digital files" %}</h2>
  {% include 'includes/digital_file_filters.html' %}
  <span class="d-inline-block mt-3 mb-1 mr-1">
    {% blocktrans trimmed count counter=page.paginator.count %}
      <strong>{{ counter }}</strong> digital file
    {% plural %}
      <strong>{{ counter }}</strong> digital files
    {% endblocktrans %}
  </span>
  {% include 'includes/digital_file_filter_tags.html' %}
  <div class="table-responsive pt-2">
    <table class="table table-striped table-condensed mb-0 border">
      {% include 'includes/table_header.html' with headers=table_headers %}
      {% if not digital_files %}
        <tr>
          <td colspan="6" class="text-center">{% trans "No matching records found" %}</td>
        </tr>
      {% endif %}
      {% for digital_file in digital_files %}
        <tr>
          <td>{{ digital_file.filepath }}</td>
          <td>{{ digital_file.fileformat }}</td>
          <td>{{ digital_file.size_bytes|filesizeformat }}</td>
          <td>{{ digital_file.datemodified|default:'' }}</td>
          {% trans "Untitled" as untitled %}
          <td><a href="{% url 'collection' digital_file.collection.id %}">{{ digital_file.collection.title|default:untitled }}</a></td>
          <td class="text-nowrap">
            {% if 'import_status' not in digital_file.dip or digital_file.dip.import_status == statuses.SUCCESS %}
              <a href="{% url 'digital_file' digital_file.meta.id %}" class="btn btn-sm btn-primary">{% trans "See more" %}</a>
            {% elif digital_file.dip.import_status == statuses.FAILURE %}
              <a href="{% url 'digital_file' digital_file.meta.id %}" class="btn btn-sm btn-danger">{% trans "See error" %}</a>
            {% else %}
              <span aria-hidden="true"><i class="fas fa-circle-notch fa-spin" title="{% trans "Import in progress" %}"></i></span>
              <span class="sr-only">{% trans "Import in progress" %}</span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {% include 'includes/table_pager.html' %}
{% endblock %}
