{% extends 'base.html' %}

{% load custom_tags %}
{% load i18n %}

{% block title %}{% trans "Settings" %}{% endblock %}

{% block content %}
  <div id="accordion">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          <button class="btn btn-link pl-0" type="button" data-toggle="collapse" data-target="#collapsed-dc-settings" aria-expanded="true" aria-controls="collapsed-dc-settings">
            {% trans "Dublin Core settings" %}
          </button>
        </h5>
      </div>
      <div class="collapse show" id="collapsed-dc-settings">
        <div class="card-body">
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
